.nav_div {
	background-color: var(--black);
	color: var(--milk_white);
	padding: 0.8% 3%;

	display: flex;
	justify-content: space-between;

	position: sticky;
	top: 0%;
	/* width: 95%; */
}

.nav_bars {
	display: none;
}

.nav_left_part {
	display: flex;
	/* justify-content: space-between; */
	width: 80%;
}

.nav_right_part {
	width: 20%;
}

.nav_links_div {
	display: flex;
	width: 70%;
	/* justify-content: space-around; */
	margin-left: 2%;
}

@media (min-width: 320px) and (max-width: 425px) {
	/* =========== nav main div padding ============ */
	.nav_div {
		padding: 4% 3%;
	}

	.nav_bars {
		display: inline-block;
		font-size: 1.8rem;
		margin-right: 5%;
		margin-top: 2%;
	}

	/* ================== changing the width of the nav parts================== */
	.nav_left_part {
		width: 50%;
	}
	.nav_right_part {
		width: 50%;
	}

	/* ============= nav left part changes ============= */
	.nav_links_div {
		display: none;
	}

	.nav_left_part img {
		width: 20%;
		height: auto;
	}
}
